.technical_section{
    margin-left: 200px;
    display: flex;
    flex-direction: row;
}
.codingLanguages{
    display: flex;
    flex-direction: row;
    /* margin-top: 90px; */
}
.webtechs{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.tools{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.codingLangs{
    color: #f1ebc9;
    text-align: center;
    font-size: 25px;
}
.heading1{
    font-size: 100px;
    color: #dbd6bc;
    margin-top: 270px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-family: "Fjalla One", sans-serif;
}
.heading2{
    font-size: 100px;
    color: #dbd6bc;
    margin-left: 30px;
    margin-top: 0px;
    font-family: "Fjalla One", sans-serif;
}
.headings{
    display: flex;
    flex-direction: column;
}
.skills{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: center;
}
