.technical_section{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}
.codingLanguages{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.webtechs{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;

}
.tools{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
}
.codingLangs{
    color: #f1ebc9;
    /* text-align: center; */
    font-size: 25px;
}
.headings1{
    font-size: 100px;
    color: #dbd6bc;
    font-family: "Fjalla One", sans-serif;
}
.headings2{
    font-size: 100px;
    color: #dbd6bc;
    font-family: "Fjalla One", sans-serif;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: center;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}