.dabba {
    border: solid #f1ebc9 1px;
    /* margin-top: 140px; */
    /* margin-left: 80px; */
    overflow: hidden; 
    transition: transform 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1.2; 
    width: 450px; /* Set a consistent width */
    margin-bottom: 10px;
}

.dabba img {
    width: 100%;
    height: auto;
    display: block;
    transition: inherit;
    opacity: 0.3;
}

.dabba:hover {
    transform: scale(1.05);
}

.namee {
    color: #f1ebc9;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}
